SECRET_KEY=django-insecure-change-me-in-production
DEBUG=False
DB_NAME=spasibo_db
DB_USER=spasibo_user
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432
ALLOWED_HOSTS=24spasibo.ru,www.24spasibo.ru,localhost,127.0.0.1,.timeweb.app
CSRF_TRUSTED_ORIGINS=https://24spasibo.ru,https://www.24spasibo.ru
